.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 25px;
    background: rgb(56,56,138);
    background: linear-gradient(315deg, rgba(56,56,138,1) 0%, rgba(60,69,77,1) 10%, rgba(59,59,71,1) 24%, rgba(30,34,34,1) 43%, rgba(67,75,116,1) 66%, rgba(49,57,82,1) 84%, rgba(25,29,41,1) 91%, rgba(47,53,65,1) 94%);
  }
  
  .card-header {
    background-color: #ECF2FF;
    border-bottom: 1px solid #ccc;
    padding: 0.4rem;
    text-align: center;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 1.4rem;
    color: #FA7D09;
    
  }

  p {
    font-size: 1.2rem;
    color: whitesmoke;
    /* margin-top: 4px; */
  }

  .card-link{
    color: #007bff;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .card-row p:first-child {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }

  @media only screen and (max-width: 1200px) {
    .card {
      width: 70%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .card {
      width: 80%;
    }
  }

  @media only screen and (max-width: 408px) {
    .card {
      width: 100%;
    }
  }

  @media only screen and (max-width: 653px) {
    .card {
      margin-top: 1%;
    }
  }