.app-header {
    background-color: #202124;
    padding: 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-left: 26%;
    flex-wrap: wrap;
    
}

.entry-btn {
    background-color: white;
    color: black;
}

.entry-btn:active {
    transform: scale(0.97);
}

.add-icon {
    margin-right: 15px;
    justify-content: center;
    color: lightgreen;
}

.form InputLabel, MenuItem {
    color: whitesmoke !important;
}

.more-option {
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    /* height: 0px; */
    margin-bottom: 10px;
    color: #fff !important;
}

@media only screen and (max-width: 1208px) {
    .app-header{
        padding-left: 18%;
    }
}

@media only screen and (max-width: 567px) {
    .app-header{
        justify-content: left;
    }

    .more-option{
        margin-left: 1px;
    }
  }
